.myAccountDiv {
  display: flex;
}

.myAccountDiv > :nth-child(2) {
  flex: 1 1 auto;
}

.myAccountBody {
  margin: 10px;
  border: 4px solid #502760;
  border-radius: 12px;
}

.profileCard {
  height: 85vh;
  z-index: 0;
  display: grid;
  padding: 0px 20px;
  margin: 10px;
  border-radius: 5px !important;
  transition: all 1s;
  box-shadow: 4px 4px 14px 0px rgba(116, 116, 116, 0.25),
    inset 6px 5px 100px 0px rgba(116, 116, 116, 0.25) !important;
  background-color: #331665 !important;
}

.myAccountInputs div {
  -webkit-text-fill-color: white !important;
  text-align: center;
}
.selectColor div {
  -webkit-text-fill-color: rgb(0, 0, 0) !important;
}

.internshipCard {
  display: grid;
  padding: 0px 20px;
  margin: 10px;
  border-radius: 5px !important;
  transition: all 1s;
  box-shadow: 7px 2px 20px 0px #7c7c7c !important;
  border-radius: 80px 0px 80px 0px !important;
  background-color: #d5fcdd !important;
}

.internshipCard1 {
  cursor: context-menu;
  display: grid;
  padding: 0px 20px;
  margin: 10px;
  min-height: 650px;
  border-radius: 5px !important;
  transition: all 1s;
  box-shadow: 7px 2px 20px 0px #7c7c7c !important;
  border-radius: 80px 0px 80px 0px !important;
  background-color: #d5fcdd !important;
}

.css-i4bv87-MuiSvgIcon-root:hover {
  cursor: pointer;
}

.internshipCard1 input {
  -webkit-text-fill-color: white !important;
}

.internshipCard1 svg {
  color: white !important;
}

.bgColor1 {
  background-color: rgb(219, 255, 216) !important;
}

.profileCardContent {
  display: grid;
  row-gap: 10px;
  padding: 0px !important;
}

.userImgDiv {
  display: grid;
  place-content: center;
  place-items: center;
  row-gap: 5px;
  margin: 10px 0px 50px 0px;
}

.userImgDiv > div {
  margin-left: 15px;
}

.userDeatilsDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
  margin-bottom: 50px;
  max-height: 1250px;
}

.addInternInputsDiv {
  display: flex;
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 30px;
  justify-content: space-evenly;
  margin: 35px 0px 20px;
  align-items: flex-start;
  caret-color: white;
}

.black input {
  -webkit-text-fill-color: #000000 !important;
}

input::-webkit-calendar-picker-indicator {
  filter: invert(1) !important;
  cursor: pointer;
  size: 40px;
}

.fileInput input[type="file"]::file-selector-button {
  background-image: linear-gradient(
    to bottom right,
    rgb(60, 43, 81),
    #502760
  ) !important;
  border: none;
}

.css-1m9pwf3:hover,
.css-ahj2mt-MuiTypography-root:hover {
  cursor: pointer;
}

.workValue .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled,
.workValue {
  -webkit-text-fill-color: rgb(0, 0, 0) !important;
}

.css-j204z7-MuiFormControlLabel-root:hover,
.css-vqmohf-MuiButtonBase-root-MuiRadio-root:hover {
  cursor: context-menu;
}

.profileInputs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  caret-color: white;
}
/* .profileInputs .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: white !important;
} */

.profileInputs label {
  width: 80px;
  font-weight: 600;
}
.addInternInputs label {
  width: auto;
  font-weight: 600;
  margin-left: 5px;
}

.radioLabel {
  width: auto;
  font-weight: 600;
  /* margin-left: 15px !important; */
}

.profileInputs .inputdout {
  width: 15px;
}

.profileInputs input {
  text-align: center;
  color: "#fff" !important;
  -webkit-text-fill-color: white !important;
}
.profileInputs select {
  text-align: center;
  color: "#fff" !important;
  -webkit-text-fill-color: white !important;
}

.addInternInputs {
  display: grid;
  row-gap: 3px;
}

.myAccountInputs {
  min-width: 38ch;
  border-radius: 20px !important;
}

.profileInputs
  .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  opacity: 1;
  -webkit-text-fill-color: rgb(0, 0, 0);
}

.profileInputs svg {
  color: white !important;
}

.addInternInputs1 svg {
  color: white !important;
}

.hitMessage {
  color: rgb(255, 169, 21);
  text-align: center;
}

.userImgDiv input {
  display: none;
}

.userImgDiv label {
  position: relative;
  left: 80px;
  top: -25px;
  z-index: 1;
  cursor: pointer;
}

.Editrollno {
  margin-top: -45px !important;
  text-align: center;
}

.studentName {
  margin-top: -10px;
}

.editUserDetailsBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
  row-gap: 10px;
}

.btnCancle {
  display: inline !important;
  width: 200px !important;
  color: #fff !important;
  background-image: linear-gradient(
    to bottom right,
    #ff0000,
    #ff5a5a,
    #ce0303
  ) !important;
}
.btnUpdate {
  display: inline !important;
  width: 200px;
  color: #fff !important;
  background-image: linear-gradient(to bottom right, #256900, #00b123, #00790a);
}
.btnUpdate1 {
  display: inline !important;
  width: 200px;
  color: #fff !important;
  background-image: linear-gradient(
    to bottom right,
    #15154a,
    #2f2f89,
    #6c38b9,
    #9724c9
  );
}

.btnChange {
  width: 200px;
  color: #fff !important;
  background-color: #0336c3 !important;
  background-image: linear-gradient(
    to bottom right,
    #023bd6,
    #2962ff,
    #0434ba
  ) !important;
}

.previewImage {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.intershipCard {
  min-width: 380px !important;
  box-shadow: 7px 2px 20px 0px #424242 !important;
  transform: 0.5s;
  border-radius: 60px 0px 60px 0px !important;
}

.intershipsDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 30px;
  padding: 30px 5px;
}

.intershipTitle {
  font-weight: bold;
  text-decoration: underline;
  margin: 20px 0px;
  font-size: 20px;
  color: #016be4;
}

.intershipTitleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.internshipContent {
  line-height: 28px;
  margin-left: 20px;
}

.Completed {
  width: 120px !important;
  background-color: #016b1e !important;
}
.Ongoing {
  width: 120px !important;
  background-color: #df7f02 !important;
}
.NotStarted {
  width: 120px !important;
  background-color: #38c6f9 !important;
}

.intershipsbody {
  border-radius: 8px;
}

.internshipViewBtn {
  background-image: linear-gradient(
    to bottom right,
    #15154a,
    #2f2f89,
    #6c38b9,
    #9724c9
  );
}

.certificatesDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 0px;
}

.certificatesCard {
  width: 610px !important;
  padding-bottom: 20px !important;
}

.radioDiv {
  min-width: 40ch !important;
}

.studentDetailsView {
  margin: 0px 70px !important;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 10px;
  justify-content: space-evenly;
  margin: 35px 0px 20px;
  align-items: flex-start;
}

@media screen and (max-width: 600px) {
  .myAccountBody.masked{
    /* background-color: black; */
    opacity: 0.8;
    z-index: 1;
  }
  .myAccountInputs {
    min-width: 32ch !important;
    border-radius: 20px !important;
  }

  .radioDiv{
    min-width: 32ch !important;
  }

  .profileCardContent {
    padding: 0px !important;
  }
  .studentDetailsView {
    margin: 0px !important;
  }
  .editprofileCard {
    margin: 0px;
  }

  .certificationTitle {
    font-size: 18px;
    text-align: center;
    margin-left: -20px;
  }

  .myAccountBody {
    padding: 0;
  }

  .editUserDetailsBtn {
    display: grid;
    justify-content: center;
  }

  .radioBtnDiv {
    margin-left: -12px !important;
    width: 250px;
  }

  .intershipCard {
    min-width: 330px !important;
  }

  .certificatesCard {
    min-width: 320px !important;
    padding-bottom: 20px !important;
  }
  .intershipCertificationBackGround {
    margin: 0px !important;
  }

  .certificatesCard {
    margin: 10px !important;
  }
}

.accountHeader {
  display: flex;
  justify-content: center;
}

.accountHeader p {
  border-bottom: 3px solid #f99900;
  width: 270px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
  color: #f99900;
}


.white {
  color: #e8e8e8;
}


.header-blog,
.stats,
footer,
.video,
.call-to-action {
  background-image: url("https://3.bp.blogspot.com/-04vqcpHNiuo/W0x2THLFZXI/AAAAAAAAOl8/DUvOAykZU9Q0rVaRw4nFTWQM-d8__k-agCLcBGAs/s1600/dresscounter.jpg");
}

.header-blog {
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-animation {
  -webkit-animation: bg-animation 15s ease-in-out infinite;
  animation: bg-animation 15s ease-in-out infinite;
}

header {
  display: block;
}

.header-blog .container {
  position: relative;
  height: 100%;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: top;
  }

  50% {
    background-position: bottom;
  }

  100% {
    background-position: top;
  }
}

@keyframes bg-animation {
  0% {
    background-position: top;
  }

  50% {
    background-position: bottom;
  }

  100% {
    background-position: top;
  }
}

.intershipCertificationBackGround {
  background-image: linear-gradient(
    to bottom right,
    #27277f,
    #561e72,
    #2f2f89,
    #8645e7
  );
  min-height: 90vh;
  margin: 10px;
}

input:-webkit-autofill {
  -webkit-text-fill-color: rgb(0, 0, 0) !important;
}

.myAccountBody {
  overflow-y: scroll;
  max-height: 88vh;
}

.my_AccountBody fieldset {
  border-color: #fff !important;
}

.fileInputs {
  margin-left: 30px;
}


.loadingBtn{
  border: 2px solid #a1a1a1 !important;
  border-radius: 5px !important;
  width: 200px !important;
  height: 40px;
  color:#a1a1a1 !important;
  background-color: #91ffa7;
}
