.navBarBody {
  background-color: #fff !important;
  padding: 10px 10px;
  box-shadow: 1px 1px 6px 0px #b4b4b4;
  position: sticky;
  top: 0px;
  z-index: 4;
  position: sticky;
}

.css-19r6kue-MuiContainer-root {
  padding: 0 !important;
}

.navBarDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBarLinkDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 30px;
}
.menuItemsList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
}

.navBarLogoDiv {
  display: flex !important;
  align-items: center;
}

.navlogoText {
  font-size: 160%;
  font-weight: 600;
  background-image: linear-gradient(
    to bottom right,
    #15154a,
    #2f2f89,
    #6c38b9,
    #9724c9
  );
  background-clip: text;
  color: transparent;
  margin-left: 20px;
}

.NavProfileDiv {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
}

.navLoginBtnDiv {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
}

.divider {
  border-left: 2px solid rgb(144, 140, 140);
  height: 20px;
}

.rollnoText {
  color: black !important;
  text-align: center;
}

.menuIconDiv {
  display: none;
}

.mitsLogo {
  width: 60px;
}

.navItems {
  font-size: 16px;
  width: auto;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navItems_active,
.navItems:hover {
  color: #fff;
  background-image: linear-gradient(
    to bottom right,
    #15154a,
    #2f2f89,
    #6c38b9,
    #9724c9
  );
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  width: auto;
  border-radius: 20px;
  padding: 0px 15px;
}

@media only screen and (max-width: 800px) {
  .navBarBody {
    height: 100px !important;
    padding: 10px 5px ;
  }
  .navBarBody.active {
    height: 200px !important;
  }

  .navBarLogoDiv {
    display: grid !important;
    justify-items: center;
    align-items: center;
    place-items: center;
  }
  .navlogoText{
    margin: 0;
  }

  .navItems{
    width: 200px;
  }

  .divider {
    display: none;
  }

  .menuItemsList.active {
    display: grid;
    text-align: center !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 95px;
    width: 100%;
    left: -20px;
  }

  .menuItemsList {
    display: none;
    margin-left: 15px;
  }

  .menuIconDiv {
    display: block;
    width: 60px;
  }
  .css-r6ewbb-MuiToolbar-root {
    display: flex !important;
  }
  .navlogoText {
    font-size: 120%;
  }
  .rollnoText {
    display: none;
  }
   .navLoginBtn {
    width: 70px !important;
    /* padding: 5px 10px; */
  }
  .navLoginBtn_active {
    width: 70px !important;
  }
}

.navLoginBtn {
  border-radius: 30px !important;
  background-image: linear-gradient(to bottom right, #15154a, #2f2f89);
  background-clip: text;
  color: transparent;
  width: 120px;
  height: 30px;
  margin-top: 30px !important;
  text-align: center !important;
  /* padding-top: 5px; */
  margin-top: 7px !important;
  font-weight: bold;
  border: 2px solid #6c38b9;
}

.navLoginBtn_active {
  background-image: linear-gradient(
    to bottom right,
    #15154a,
    #2f2f89,
    #6c38b9,
    #9724c9
  );
  border-radius: 30px !important;
  color: #fff !important;
  width: 120px;
  height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 30px !important;
  text-align: center !important;
  padding-top: 2px;
  margin-top: 7px !important;
}
