.homeBody{
    /* display: flex; */
}


.bgvideo{
    width : 100%;
    
    /* height : 600px; */
    /* position: fixed; */
    /* z-index: -1; */
}

.quotes{
    width : 650px;
    height : 200px;
    background-color: rgba(245, 242, 245, 0.2);
    position: relative;
    top : -750px;
    margin : 0 auto;
}

.quote{
    width : 650px;
    height : 200px;
    object-fit: contain;
    /* border : 2px solid black */
}



.homeContent{
    width:100%;
    height : 1000px;
background-color: white;
    position: relative;
    top : -600px;
}