.bgvideo{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.quotes{
    width : 650px;
    height : 200px;
    background-color: rgba(245, 242, 245, 0.2);
    position: relative;
    top : -300px;
    margin : 0 auto;
}

.quote{
    width : 100%;
    height : 200px;
    object-fit: contain;
}

.homeContent{
    margin-top: -200px;
}

@media screen and (max-width:600px) {

    .bgvideo{
        height: 40vh;
    }
    .quotes{
        width: 320px !important;
    }

    .quotes{
        top: -250px;
    }
}